
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  display: block;
  word-wrap: break-word;
  margin: 0;
}
h1{
  text-align: center;
  font-size: 40px;
}
p {
  position: relative;
  overflow: auto;
  font-size: 15px;
}
#p1{
  border: 2px solid black;
  background-color: #e1e4e8;
  padding: 5px;
  height: 150px;
  width: 400px;
  float: left;
  margin: 5px;
  margin-top: 40px;
  padding-top: 0px;
}
#p2{
  border: 2px solid black;
  background-color: #e1e4e8;
  padding: 5px;
  height: 150px;
  width: 400px;
  float: left;
  margin: 5px;
  margin-top: 40px;
  padding-top: 0px;
}
#p3{
  border: 2px solid black;
  background-color: #e1e4e8;
  padding: 5px;
  padding-top: 0px;
  height: 150px;
  width: 400px;
  float: left;
  margin: 5px;
  margin-top: 40px;
}
#c1{
  width: 110px;
  text-align: center;
  position: relative;
  left:280px;
  font-weight: bold;
  font-size: 18px;
  border-left: 2px solid black;
  background-color: pink;
  border-bottom: 2px solid black;
  
}
#c2{
  width: 110px;
  text-align: center;
  position: relative;
  left:280px;
  font-weight: bold;
  font-size: 18px;
  border-left: 2px solid black;
  background-color: aqua;
  border-bottom: 2px solid black;
}
#c3{
  width: 110px;
  text-align: center;
  position: relative;
  left:280px;
  font-weight: bold;
  font-size: 18px;
  border-left: 2px solid black;
  background-color: yellow;
  border-bottom: 2px solid black;
}
.demo{
  padding: 30px;
  width: 100%;
}
#head{
  position: relative;
  height: 150px;
  top: 50px;
}

@media(min-width: 992px){
  #p1{
    width:400px;
  }
   #p2{
    width:400px;
  }
   #p3{
    width:400px;
  }

}
  